# CakePHP 3

/vendor/*
/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*

# Ignore vendor directory
/vendor

# Ignore node_modules directory
/node_modules

# Ignore storage directory
/storage

# Ignore environment file
.env

# Ignore database files
/database/*.sqlite
/database/*.sqlite3
/database/*.db

# Ignore IDE-specific files
/.idea
/.vscode

# Ignore Homestead.yaml file
Homestead.yaml

# Ignore Homestead.json file
Homestead.json

# Ignore mix-manifest.json file
mix-manifest.json

# Ignore compiled output
/public/js
/public/css

# Ignore PHPStorm Meta Data
/.phpstorm.meta.php
