RewriteEngine On
RewriteBase /RootPHP/htaccess/5.Rewrite_Module/3.Hide_Golder
RewriteRule ^(.*)$ index.php?url=$1 [QSA, L] #add comman-space-L you cant see folder where this .htaccess is located folder is not accessible