#Options -Multiviews
  #RewriteEngine On
  #RewriteBase /RootPHP/MVC/MVC_Framework_4/public
  #RewriteCond %{REQUEST_FILENAME} !-d
  #RewriteCond %{REQUEST_FILENAME} !-f
  #RewriteRule  ^(.+)$ index.php?url=$1 [QSA,L]
#</IfModule>